@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* 구글 폰트 */
body {
    font-family: "Open Sans", sans-serif;
    }

.status-bar{
    display: flex;
    justify-content: center;  /* CSS Hack : 가운데로 몰기 */
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    display:flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-full {
    margin: 0px 5px;
}







/* # 6.5 
따라하고 있는데 정렬이 이상하게 되는 중 */