
body {
  width: 410px;
  height:750px;
  margin: 0;
  padding: 30px 28px;
  border: 5px solid #00d1c7;
}

.status-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 45px;
}

.status-bar i {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 28px;
}

.status-bar span {
  font-size: 26px;
  font-weight: 800;
}

.main-song {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.main-song__cover {
  width: 200px;
  height: 135px;
  background-color: #f8b51b;
  border: 2px solid black;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-song__cover i {
  color: white;
  font-size: 48px;
}

.main-song__info h1 {
  margin: 0;
  font-size: 42px;
  line-height: 1.1;
}

.main-song__info p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 700;
}

.play-bar {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 42px;
}

.play-bar__play,
.play-bar__like,
.play-bar__plus {
  border: 2px solid #000000;
  border-bottom-width: 6px;
  border-right-width: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-bar__play {
  width: 180px;
  height: 64px;
  border-radius: 16px;
  gap: 10px;
  font-size: 24px;
  font-weight: 800;
}

.play-bar__like,
.play-bar__plus {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  font-size: 30px;
}

.playlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 34px;
}

.icon {
  width: 58px;
  height: 58px;
  border-radius: 12px;
  border: 2px solid #222;
}

.orange { background: #ff4b22; }
.pink { background: #f06cae; }
.blue { background: #2447e8; }
.green { background: #13c2ad; }

.text h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
}

.text p {
  margin: 6px 0 0;
  color: gray;
  font-size: 17px;
}